.container {
  height: calc(100vh - 4.75em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: #0f0f0f;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 30em;
  object-fit: contain;
}

.title {
  color: #fff;
  text-align: center;
  margin: 2em;
  line-height: 150%;
}

.infoContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  background-color: #fafafa;
  padding: 1em 3em;
  border-radius: 4px;

  transition: 400ms;
}

.box:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 580px) {
  .hero {
    max-width: 80%;
  }

  .title {
    font-size: 1.5rem;
  }

  .infoContent {
    flex-direction: column;
  }

  .box {
    width: 80%;
    margin-bottom: 1em;
    text-align: center;
  }
}